<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admins/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <div th:replace="admins/fragments/header :: header"></div>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <div th:replace="admins/fragments/sidebar :: sidebar"></div>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">

      <!-- Default box -->
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <a th:href="@{/admin/add-category}" class="btn btn-success">+Thêm mới Menu</a>

            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>ID</th>
                <th>Tên Sản Phẩm</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th>Action</th>
              </tr>

              <tr th:each="product: ${listProduct}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td>
                  <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 3, 'POINT')}">10.00</span>
                </td>
                <td>
                  <img th:src="@{'/uploads/'+${product.image}}" class="img-circle">
                </td>
                <td th:text="${product.category_product.type}"></td>
                <td>
                  <a th:href="@{/admin/product-edit/{id}(id=${product.id})}" class="btn btn-success">Sửa</a>
                  <a th:href="@{/admin/product-delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure!!')" class="btn btn-danger">Xóa</a>
                </td>
                </td>
              </tr>


              </tbody></table>
          </div>

          <div class="">
            <div class="pagination-view">
              <div class="up-down" th:if="${currentPage > 1}" >
                <a class="color-a" th:href="@{'?pageNo='+${currentPage -1}}"><</a>
              </div>

              <div class="up-down" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
                <a class="color-a" th:href="@{'?pageNo='+${i}}"  th:text="${i}" ></a>
              </div>

              <div class="up-down" th:if="${currentPage < totalPage}">
                <a class="color-a" th:href="@{'?pageNo='+${currentPage +1}}">></a>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div th:replace="admins/fragments/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
<script>CKEDITOR.replace( 'editor1' );</script>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/tinymce/config.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
