<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop bán Mỹ Phẩm</title>
    <link rel="stylesheet" th:href="@{/assets/css/productDetail.css}">
    <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/shoppingCart.css}">
    <link rel="stylesheet" th:href="@{/assets/css/headers.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div th:replace="header :: header"></div>
<!--<section class="home" id="home">-->

<main role="main" class="mainn">

    <section class="about" >
        <div class="cart-about mb-0" >
            <div class="box-select-all">
                <label class="stardust-checkbox">
                    <input class="stardust-checkbox__input mt-3" type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox" aria-label="Click here to select all products">
                    <div class="stardust-checkbox__box"></div>
                </label>
            </div>
            <div class="cart-prod">Sản Phẩm</div>
            <div class="cart-price">Đơn Giá</div>
            <div class="cart-totalNumber">Số Lượng</div>
            <div class="cart-totalPrice">Số Tiền</div>
            <div class="cart-action">Thao Tác</div>
        </div>
    </section>
    <section class="sec-about">

        <div th:each="cartItem: ${listCartItem}" th:if="${cartItem.status == 1}">
            <form method="GET" th:action="@{/cart/update}" class="update-form">
                <input type="hidden" name="id" th:value="${cartItem.id}">

<!--                <div class="radio">-->
<!--                    <label>-->
<!--                        <input type="radio" th:field="*{categoryStatus}"  value="1" checked="checked">-->
<!--                        Hiện-->
<!--                    </label>-->
<!--                    <label>-->
<!--                        <input type="radio" th:field="*{categoryStatus}"  value="0" >-->
<!--                        Ẩn-->
<!--                    </label>-->
<!--                </div>-->
            <div class="cart-about-second mb-0" >
                <div class="cart-prod">
                    <a class="a-cart-item">
                        <img th:src="@{'/uploads/'+${cartItem.product_cartItem.image}}" class="img-cart">
                        <div>
                            <div  class="cart-detail">
                                <span  th:text="${cartItem.product_cartItem.name}"></span>
                                <div>
                                    <span class="detail-product-name ">Loai Da</span>
                                    <span  th:text="${cartItem.product_cartItem.skinType}"></span>
                                </div>
                            </div>

                        </div>

                    </a>
                </div>
                <div class="cart-price">
                        <span class="sp-money" style="font-size: 15px color: #ee4d2d;" th:text="${#numbers.formatDecimal(cartItem.product_cartItem.price, 0, 'COMMA', 3, 'POINT')}">10.00</span>
                </div>
                <div class="cart-totalNumber">
                    <div class="soluong2 shopee-input-quantity">
                        <button type="button" class="suQW3X">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input class="cart-aty" name="aty" th:value="${cartItem.aty}">
                        <button type="button" class="suQW3X">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="cart-totalPrice">
                    <span class="sp-money" style="font-size: 15px color: #ee4d2d;" th:text="${#numbers.formatDecimal(cartItem.totalPrice, 0, 'POINT', 3, 'POINT')}">10.00</span>
<!--               <span th:text="${cartItem.totalPrice}"></span>-->
                </div>
                    <a th:href="@{/cart/delete/{id}(id=${cartItem.id})}" class="cart-action">Delete</a>
                    <button class="btn-updateCart" type="submit">Update</button>
                </div>
            </form>
        </div>


    </section>
    <section class="sec-about">
        <div class="cart-about-second mb-0 container-form">
                <div class="box-select-all">
                    <label class="stardust-checkbox">
                        <input class="stardust-checkbox__input mt-3" type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox" aria-label="Click here to select all products">
                        <div class="stardust-checkbox__box"></div>
                    </label>
                </div>
                <a th:href="@{/cart/deleteAll}" class="clear-btn-style btn-cartDeletePay">Xóa Tất Cả</a>
                <div class="space-cartPay"></div>

                <div class="pay-1" role="region">
                        <div class="payMoney">
                            <div class="payMoney-child">Tổng thanh toán(</div>
                            <span class="payMoney-child" th:text="${countCartItem}"></span>
                            <span class="payMoney-child">san pham) :</span>
                            <span class="payMoney-child" style="font-size: 15px color: #ee4d2d;" th:text="${#numbers.formatDecimal(totalPriceCartItem, 0, 'POINT', 3, 'POINT')}">10.00</span>
                            <div class="mketV9">₫</div>
                        </div>
                </div>
                <a class="btn-3" th:href="@{/checkout}">
                    <span class="word-cart">Mua hàng</span>
                </a>




        </div>

    </section>

</main>
<!--</section>-->
<div th:replace="footer :: footer"></div>




<script th:src="@{/assets/js/script.js}"></script>
</body>
</html>