<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admins/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admins/fragments/header :: header(user=${user})"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admins/fragments/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Quản lý menu trang giao diện

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">
                    <form role="form" method="post" th:action="@{/admin/add-category}" th:object="${category}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên Loai</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{type}">
                            </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Chọn trạng thái</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{categoryStatus}"  value="1" checked="checked">
                                            Hiện
                                        </label>
                                        <label>
                                            <input type="radio" th:field="*{categoryStatus}"  value="0" >
                                            Ẩn
                                        </label>
                                    </div>
                                </div>
<!--                            <div class="form-group">-->
<!--                                <label for="exampleInputEmail1">Chọn trạng thái</label>-->
<!--                                <div>-->
<!--                                    <div class="form-check form-check-inline">-->
<!--                                        <input type="radio" class="form-check-input" th:field="{categoryStatus}" value="1" checked="checked">-->
<!--                                        <label class="form-checked-label" >-->
<!--                                            Hiện-->
<!--                                        </label>-->
<!--                                    </div>-->

<!--                                    <div class="form-check form-check-inline">-->
<!--                                        <input type="radio" class="form-check-input" th:field="{categoryStatus}" value="0" >-->
<!--                                        <label class="form-checked-label" >-->
<!--                                            Hiện-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>

                    </form>

                    <div class="box-footer">

                        <a th:href="@{/admin/category}" type="submit" class="btn btn-primary">Quay lại</a>
                    </div>
                </div>

                <!-- /.box -->

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="admins/fragments/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/tinymce/config.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
