<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop bán Mỹ Phẩm</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<footer class="footer">
    <div class="ft-first">
        <div class="ft-container">
            <div class="ft-cover">
                <i class="fa-solid fa-right-left"></i>
                <div class="ft-cover-1">
                    <p class="ft-content">7 ngày miễn phí trả hàng</p>
                    <p class="ft-content">Trả hàng miễn phí trong 7 ngày</p>
                </div>
            </div>
            <div class="ft-cover">
                <i class="fa-solid fa-shield-heart"></i>
                <div class="ft-cover-1">
                    <p class="ft-content">Hàng chính hãng 100%</p>
                    <p class="ft-content">Đảm bảo hàng chính hãng hoặc hoàn tiền gấp đôi</p>
                </div>
            </div>
            <div class="ft-cover">
                <i class="fa-solid fa-truck"></i>
                <div class="ft-cover-1">
                    <p class="ft-content">Miễn phí vận chuyển</p>
                    <p class="ft-content">Giao hàng miễn phí toàn quốc</p>
                </div>
            </div>
        </div>
    </div>
    <div class="share" style="margin-top: 15px;">
        <a href="#" style="background-color: white;
                            color: #4f53d0;" class="fab fa-facebook-f"></a>
        <a href="#" style="background-color: white;
                            color: #4b99c2;" class="fab fa-twitter"></a>
        <a href="#" style="background-color: white;
                            color: #df6c92;" class="fab fa-instagram"></a>
        <a href="#" style="background-color: white;
                            color: #4d94bf;" class="fab fa-linkedin"></a>
        <a href="#" style="background-color: white;
                            color: #d51717;" class="fab fa-pinterest"></a>
    </div>

    <div class="credit" style="color: #d3ad7f;">Được tạo bởi <span>Nhóm ThreesH</span> | All right reserved</div>
</footer>




<script th:src="@{/assets/js/script.js}"></script>

</body>
</html>